@import "../../node_modules/bootstrap/scss/bootstrap";
@import './_login';

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}


.content {
  padding-top: 40px;
}

.balance {
  color: rgba(255,255,255,.5);
  padding-right: 20px;
}


.table {
  .table {
    &__sort-column {
      padding: 0;
      >a{
        padding: 12px;
        display: block;
        cursor: pointer;
      }
    }

    &__time-start{
      width: 204px;
    }

    &__time-end{
      width: 204px;
    }

    &__source-type{
      width: 128px;
    }

    &__source-name{
      width: 211px;
    }

    &__stress{
      width: 164px;
    }

    &__vegetative{
      width: 202px;
    }
  }

}

table {
  th {
    &:nth-of-type(1) {
      display: none;
    }
  }

  td {
    &:nth-of-type(1) {
      display: none;
    }
  }
}
